
.thumb{
    left: 0%;
    top: 0%;
    width: 31.719%;
    height: 5.677%;
    background-image: url(https://carbon-media.accelerator.net/0000000hUT4/63eeBgCaFOSaZUAwlV8tCz;406x739.jpeg?auto=webp);
    background-image: image-set(url(https://carbon-media.accelerator.net/0000000hUT4/63eeBgCaFOSaZUAwlV8tCz;406x739.jpeg?auto=webp) 1x, url(https://carbon-media.accelerator.net/0000000hUT4/63eeBgCaFOSaZUAwlV8tCz;812x1478.jpeg?auto=webp) 2x);
}